body{
    background-color: bisque;
}
img{
    float: left;
    width: 300px;
    cursor: pointer;
    opacity: 0.8;
    border: solid black;
}
p{
    float: left;
    padding: 15px;
    border: 5px solid white;
    margin: 20px;
}
img:hover{
    border: dotted red;
    opacity: 1;
}