body {
    background-image: url(img/tree.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1 {
    color: red;
    background: rgb(121,230,230);
background: linear-gradient(90deg, rgba(121,230,230,1) 33%, rgba(30,166,14,1) 50%, rgba(0,212,255,1) 67%);
}

ul{
    color: red;
    background-color: #fafafa;
    opacity: 0.5;
}

section{
    color: red;
    background: rgb(121,230,230);
background: linear-gradient(90deg, rgba(121,230,230,1) 33%, rgba(30,166,14,1) 50%, rgba(0,212,255,1) 67%);
}